* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-page{
    min-height: 100%;
    height: auto;
}

#home-hero-section {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: -130px;
    z-index: -1;
}

#home-over-video {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -165px;
    width: auto;
    height: auto;
    text-align: center;
    backdrop-filter: blur(5px);
}

#home-over-video-name {
    font-size: 10vh;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
}

#home-over-video-slogen {
    font-size: 4vh;
    -webkit-text-fill-color: white;
}

#home-hero-section video {
    width: 100%;
    height: 60%;
}

#home-teams {
    background-color: blue;
    width: 100%;
    height: 300px;
}

#home-center-grid {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#home-semi-calender {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: brown;
}

#home-contact-us{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: purple;
}

#home-next-games {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: green;
}