* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-page{
    min-height: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#home-hero-section {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: -60px;
    margin-bottom: -60px;
    z-index: -1;
}

#home-over-video {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -165px;
    width: auto;
    height: auto;
    text-align: center;
    backdrop-filter: blur(2px);
}

#home-over-video-name {
    font-size: 10vh;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
}

#home-over-video-slogen {
    font-size: 4vh;
    -webkit-text-fill-color: white;
}

#home-hero-section video {
    width: 100%;
    height: 60%;
}

#home-center-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#home-semi-calender {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    /* padding: 10%; */
}

#home-contact-us{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 10%;
}

.news-in-homepage{
    width: 100%;
    text-align: center;
    background-image: linear-gradient( 68.4deg,  rgba(248,182,204,1) 0.5%, rgba(192,198,230,1) 49%, rgba(225,246,240,1) 99.8% );
}
@media (max-width: 800px) {
    .news-in-homepage{
        font-size: 12px;
    }
    .news-in-homepage p{
        font-size: 2px;
    }
}
#home-commercials {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .commercial-block {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
  .commercial-block img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  p{
    margin-top: 15px;
    text-align: center;
  }

  @media (max-width: 700px) {
    #home-over-video-name {
        font-size: 7vh;
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: transparent;
    }
    #home-center-grid {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 2fr;
    }
    
    #home-semi-calender {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 10%;
    }
    
    #home-contact-us{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-bottom: 10%;
    }

    #home-commercials {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: rgb(242, 242, 242);
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        justify-content: space-evenly;
      }
  }
  @media (max-width: 400px) {
    #home-over-video-name {
        font-size: 5vh;
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: transparent;
    }
    #home-center-grid {
        width: auto;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 2fr;
    }
    
    #home-semi-calender {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 0;
    }
    
    #home-contact-us{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding-bottom: 10%;
    }

    #home-commercials {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: rgb(242, 242, 242);
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
        justify-content: space-evenly;
      }
  }