* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#pay-choice-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pay-h1{
    margin-left: 30px;
}


#pay-choice-place-holder {
    height: 0px;
}

#pay-choice-grid {
    position: absolute;
    top: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    width: 80%;
    height: 60%;
    border: 1px solid black;
    padding: 5px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#pay-choice-grid-game-info {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

#pay-choice-grid-game-info h3 {
    font-size: 2vw;
}

#pay-choice-grid-game-info h4 {
    font-size: 1.5vw;
}

.game-info {
    text-decoration: underline;
}

#pay-choice-grid-choose {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding: 10px 0px 0px 10px;
    font-size: 1.5vw;
}

.pay-selectors {
    border-radius: 10px;
}

#selector-2 {
    margin-left: 50px;
}

#selector-3 {
    margin-left: 70px;
}


#pay-choice-grid-choose h1 {
    font-size: 2vw;
}

.pay-selectors {
    margin-bottom: 10px;
}

#pay-choice-grid-stadium {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-15 {
    margin-left: 65px;
    margin-top: 50px;
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 15px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-15:disabled {
    cursor: default;
    opacity: .3;
}

.button-15:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

.button-15:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}

.button-15:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}


#pay-choice-grid-stadium img {
    width: 500px;
    height: 100%;
}

#pay-choice-grid-prices {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pay-choice-grid-prices table {
    border: 1px solid black;
    border-collapse: collapse;
}

#pay-choice-grid-prices td {
    border: 1px solid black;
    width: 100px;
}

#pay-choice-sent-order {
    margin-top: 10px;
}


@media (max-width: 800px) {
    #pay-choice-grid {
        position: absolute;
        top: 30vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.5fr 0.7r 1fr;
        width: 80%;
        height: 50%;
        border: 1px solid black;
        padding: 5px;
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    }

    .button-15{
        margin: 0;
        font-size: 15px;
    }

    #pay-choice-grid-game-info {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }

    #pay-choice-grid-game-info h3 {
        font-size: 3.5vw;
    }

    #pay-choice-grid-game-info h4 {
        font-size: 2.5vw;
    }

    #pay-choice-grid-choose {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: start;
        padding: 10px 0px 0px 10px;
        font-size: 2vw;
    }

    #pay-choice-grid-choose h1 {
        font-size: 3vw;
    }

    #pay-choice-place-holder {
        height: 1200px;
    }

    #pay-choice-grid-prices {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #pay-choice-grid-stadium {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #pay-choice-grid-stadium img {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 450px) {}