*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

#pay-chice-grid{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
}

#pay-choice-grid-choose{
    grid-row-start: 1 ;
    grid-row-end: 3 ;
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    background-color: pink;
}
#pay-choice-grid-stadium{
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    background-color: blue;
}
#pay-choice-grid-prices{
    grid-row-start: 2 ;
    grid-row-end: 3 ;
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    background-color: yellow;
}