*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

#pay-paying-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pay-paying-grid{
    display: grid;
    grid-template-columns: repeat( 4 , 1fr )  ;
    grid-template-rows: repeat( 5 , 1fr ) ;
    width: 80%;
    height: 100%;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

.pay-paying-grid-item{
    margin-bottom: 5px;
}

#paying-grid-name{
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    grid-column-start: 1 ;
    grid-column-end: 5 ;
    /* background-color: aqua; */
}
#paying-grid-number{
    grid-row-start: 2 ;
    grid-row-end: 3 ;
    grid-column-start: 1 ;
    grid-column-end: 5 ;
    /* background-color: blue; */
}
#paying-grid-expire{
    grid-row-start: 3 ;
    grid-row-end: 4 ;
    grid-column-start: 1 ;
    grid-column-end: 5 ;
    /* background-color: red; */
}
#paying-grid-cvc{
    grid-row-start: 4;
    grid-row-end: 5 ;
    grid-column-start: 1 ;
    grid-column-end: 5 ;
    /* background-color: yellow; */
}
#paying-grid-BTN{
    grid-row-start: 5 ;
    grid-row-end: 6 ;
    grid-column-start: 2 ;
    grid-column-end: 4 ;
    /* background-color: green; */
}
