*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

#pay-paying-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pay-paying-card-container{
    position: absolute;
    top: 30vh;
    border: 1px solid black;
    width: 80%;
    height: 60%;
    padding: 10px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rccs__card--front{
    width: 50vw;
    max-width: 303px;
    margin-left: auto;
    height: 20vh;
}
.rccs__card--back{
    width: 50vw;
    max-width: 303px;
    margin-left: auto;
    height: 20vh;
}

#pay-paying-card-name{
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

input{
  width: 30% ;
  height: 20px ;
}
@media ( max-width: 800px) {
    .rccs__card--front{
        width: 50vw;
        max-width: 303px;
        margin-left: auto;
        height: 20vh;
    }
    .rccs__card--back{
        width: 50vw;
        max-width: 303px;
        margin-left: auto;
        height: 20vh;
    }
    
}
@media ( max-width: 430px) {
    .rccs__card--front{
        width: 55vw;
        max-width: 303px;
        margin-left: auto;
        height: 18vh;
    }
    .rccs__card--back{
        width: 55vw;
        max-width: 303px;
        margin-left: auto;
        height: 18vh;
    } 
}
@media ( max-width: 230px) {
    .rccs__card--front{
        display: none;
    }
    .rccs__card--back{
        display: none;
    }  
}














#pay-paying-grid{
    position: absolute;
    top: 30vh;
    display: grid;
    grid-template-columns: repeat( 4 , 1fr )  ;
    grid-template-rows: repeat( 7 , 1fr ) ;
    width: 80%;
    height: 60%;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 15px;
}

.pay-paying-grid-item{
    margin-bottom: 5px;
}

#paying-grid-name{
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    grid-column-start: 1 ;
    grid-column-end: 3 ;
}
#paying-grid-number{
    grid-row-start: 2 ;
    grid-row-end: 3 ;
    grid-column-start: 1 ;
    grid-column-end: 5 ;
}
#paying-grid-expire{
    grid-row-start: 3 ;
    grid-row-end: 4 ;
    grid-column-start: 1 ;
    grid-column-end: 5 ;
}
#paying-grid-cvc{
    grid-row-start: 4;
    grid-row-end: 5 ;
    grid-column-start: 1 ;
    grid-column-end: 5 ;
}
#paying-grid-mail{
    grid-row-start: 5 ;
    grid-row-end: 6 ;
    grid-column-start: 2 ;
    grid-column-end: 4 ;
}
#paying-grid-BTN{
    grid-row-start: 6 ;
    grid-row-end: 7 ;
    grid-column-start: 2 ;
    grid-column-end: 4 ;
}
#paying-grid-statment{
    grid-row-start: 7 ;
    grid-row-end: 8 ;
    grid-column-start: 1 ;
    grid-column-end: 5 ;
}
