* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pay-receipt-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#pay-order-receipt {
    position: absolute;
    top: 30vh;
    border: 1px solid black;
    width: 80%;
    height: 60%;
    padding: 10px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

#pay-transaction-summary {
    border: 1px solid black;
    width: 94%;
    margin: 10px 3% 15px 3%;
}

@media ( max-width: 800px) {
    #pay-order-receipt{
        font-size: 1.5vw;
    }
    
}
@media ( max-width: 430px) {
    #pay-order-receipt{
        font-size: 2vw;
    }  
}
@media ( max-width: 230px) {
    #pay-order-receipt{
        font-size: 3vw;
    }  
}