.user-page-container{
    width: 300px;
  background-color: white;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px grey;
  height: 350px;
  text-align: center;
  display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.user-page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(31, 114, 158);
}
.user-page-input{
    height: 26px;
    width: 90%;
}
.user-page-button{
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out, .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.user-page-button:active {
  background-color: #006AE8;
}

.user-page-button:hover {
  background-color: #1C84FF;
}

#user-page-remember-me{
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-page-h6{
    margin-left: 2%;
}