#user-page-outlet{
  height: 75vh;
}
.user-page-container{
  height: 100%;
    width: 300px;
  background-color: white;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 20px;
  height: 350px;
  text-align: center;
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px rgb(163, 161, 161);
}
.user-page{
  height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.user-page-input{
    height: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.user-page-button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.user-page-button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.user-page-button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

#user-page-remember-me{
    display: flex;
    align-items: center;
}
#user-page-h6{
    margin-left: 2%;
}
#user-page-h6{
  font-family: sans-serif;
}



